# Standard Libraries
numpy
scipy
numba
pandas
matplotlib
seaborn

# linter, formatter, editor
black
isort
flake8
mypy
pytest
pydantic
python-language-server
jupyter
jupyter_contrib_nbextensions
# jupyterの拡張機能の設定が必要
# jupyter contrib nbextension install --user

# Machine Learning
scikit-learn
# xgboost
# lightgbm
# umap-learn
# hdbscan

# NLP
mojimoji
# pyknp
# gensim
# mecab-python3
sentencepiece
sudachipy
sudachidict_core
# rapidfuzz

# Images
pillow

# EXCEL
xlrd
xlwt
openpyxl

# WORD
python-docx

# Server
uvicorn
fastapi
starlette 
aiofiles
python-multipart
injector
authlib
streamlit

# Others
pipenv
tqdm
pytz
requests
beautifulsoup4
lxml
elasticsearch
awscli
google-cloud-datastore
google-cloud-storage
