### Linter, Formatter, Editor etc. ###
ruff
black
isort
flake8
mypy
pytest
pydantic
# python-language-server
jedi-language-server
jupyter
jupyter_contrib_nbextensions
# jupyterの拡張機能の設定が必要
# jupyter contrib nbextension install --user

### General ###
tqdm
# pipenv
# injector
requests
httpx
# beautifulsoup4
# lxml

### Web ###
uvicorn
fastapi
starlette 
aiofiles
python-multipart
streamlit

### Data Analysis ###
numpy
scipy
numba
pandas
matplotlib
seaborn

### Machine Learning ###
# scikit-learn
# xgboost
# lightgbm
# umap-learn
# hdbscan

### NLP ###
# mojimoji
# sudachipy
# sudachidict_core

### EXCEL ###
# xlrd
# xlwt
# openpyxl
